[submodule "public/less/bootstrap"]
	path = public/less/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "vendor/doctrine-dbal"]
	path = vendor/doctrine-dbal
	url = https://github.com/doctrine/dbal.git
[submodule "vendor/doctrine-common"]
	path = vendor/doctrine-common
	url = https://github.com/doctrine/common.git
[submodule "vendor/twig"]
	path = vendor/twig
	url = https://github.com/fabpot/Twig.git
[submodule "vendor/symfony/src/Symfony/Component/Translation"]
	path = vendor/symfony/src/Symfony/Component/Translation
	url = https://github.com/symfony/Translation
[submodule "vendor/symfony/src/Symfony/Component/Config"]
	path = vendor/symfony/src/Symfony/Component/Config
	url = https://github.com/symfony/Config
[submodule "vendor/symfony/src/Symfony/Component/Yaml"]
	path = vendor/symfony/src/Symfony/Component/Yaml
	url = https://github.com/symfony/Yaml
[submodule "vendor/rafal/src/Rafal/MemcacheExtension"]
	path = vendor/rafal/src/Rafal/MemcacheExtension
	url = https://github.com/RafalFilipek/MemcacheExtension
[submodule "public/js/isotope"]
	path = public/js/isotope
	url = https://github.com/desandro/isotope.git
[submodule "vendor/rafal/src/Rafal/ProfilerExtension"]
	path = vendor/rafal/src/Rafal/ProfilerExtension
	url = git://github.com/RafalFilipek/ProfilerExtension.git
[submodule "vendor/rafal/src/Rafal/JavascriptRoutingExtension"]
	path = vendor/rafal/src/Rafal/JavascriptRoutingExtension
	url = git://github.com/RafalFilipek/JavascriptRoutingExtension.git
