[submodule "public/less/bootstrap"]
	path = public/less/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "vendor/doctrine-dbal"]
	path = vendor/doctrine-dbal
	url = https://github.com/doctrine/dbal.git
[submodule "vendor/doctrine-common"]
	path = vendor/doctrine-common
	url = https://github.com/doctrine/common.git
[submodule "vendor/twig"]
	path = vendor/twig
	url = https://github.com/fabpot/Twig.git
[submodule "vendor/symfony/src/Symfony/Component/Translation"]
	path = vendor/symfony/src/Symfony/Component/Translation
	url = https://github.com/symfony/Translation
[submodule "vendor/symfony/src/Symfony/Component/Config"]
	path = vendor/symfony/src/Symfony/Component/Config
	url = https://github.com/symfony/Config
[submodule "vendor/symfony/src/Symfony/Component/Yaml"]
	path = vendor/symfony/src/Symfony/Component/Yaml
	url = https://github.com/symfony/Yaml
[submodule "public/js/isotope"]
	path = public/js/isotope
	url = https://github.com/desandro/isotope.git
[submodule "vendor/rafal/src/Rafal/JavascriptRoutingServiceProvider"]
	path = vendor/rafal/src/Rafal/JavascriptRoutingServiceProvider
	url = git@github.com:RafalFilipek/JavascriptRoutingServiceProvider.git
[submodule "vendor/rafal/src/Rafal/MemcacheServiceProvider"]
	path = vendor/rafal/src/Rafal/MemcacheServiceProvider
	url = git@github.com:RafalFilipek/MemcacheServiceProvider.git
[submodule "vendor/rafal/src/Rafal/ProfilerServiceProvider"]
	path = vendor/rafal/src/Rafal/ProfilerServiceProvider
	url = git@github.com:RafalFilipek/ProfilerServiceProvider.git
