<div id="category-manager" class="twipsy below">
    <div class="twipsy-arrow"></div>
    <div class="twipsy-inner">
        <ul class="unstyled">
            <li class="star"></li>
            <li class="edit inner"></li>
            <li class="delete"></li>
        </ul>
    </div>
</div>