<div data-id="{{ category.id }}" data-marked="{{ category.marked }}" class="span4 columns">
    <div>
        {{ category.name }}
        <small class="count"> &middot; 12</small>
        <span class="category-actions"></span>
    </div>
</div>