<ul class="unstyled">
    <li><small>{{ app.translator.trans('categories.view') }}</small></li>
    <li><a href="#" class="active" data-layout="masonry" data-categories-class="grid">{{ app.translator.trans('categories.grid') }}</a></li>
    <li><a href="#" data-layout="straightDown" data-categories-class="list">{{ app.translator.trans('categories.list') }}</a></li>
</ul>