
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Simple Bookmarks Manager</title>
        <meta name="description" content="">
        <meta name="author" content="Rafał Filipek">

        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <link rel="stylesheet" type="text/css" href="/public/css/styles.css">

        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <div class="container">
            <div class="row" id="top">
                <h1 class="span12 columns">
                    Bookmarks Manager <small id="load">{{ app.translator.trans('global.ajax_wait') }}</small>
                </h1>
                <div class="span4 columns offset13 copyrights">
                    <button id="add-button" class="btn big primary">{{ app.translator.trans('global.add_bookmark') }}</button>
                </div>
            </div>
            <hr />