<div class="well" id="intro">
    <h2>Witaj!</h2>
    <p>
        <strong>Bookmarks Manager</strong> pozwala na łatwe zarządznie wszystkimi ciekawymi rzeczami, które zainteresowały cię w sieci. Poniżej znajdziesz wszystkie kategorie swoich linków.
    </p>
    <p class="hide-info">
        <small>Nuda, nie chcę tego oglądać.</small>
    </p>
</div>