{% extends 'layout.twig' %}

{% block content %}

    {% if app.request.get('hide-intro') %}
        {% include '_intro.twig' %}
    {% endif %}

    {% include '_search.twig' %}

    <div id="marked-categories" class="categories-block" {% if not categories.marked %}style="display:none"{% endif %}>
        <h6>
            {{ app.translator.trans('categories.important') }} 
            {% include '_categories-view-options.twig' %}
        </h6>
        <div class="row categories grid" data-layout="grid">
            {% for category in categories.marked %}
                {% include '_category-element.twig' with {'category' : category} %}
            {% endfor %}    
        </div>
    </div>

    <div id="normal-categories" class="categories-block" {% if not categories.normal %}style="display:none"{% endif %}>
        <h6>
            {{ app.translator.trans('categories.other') }}
            {% include '_categories-view-options.twig' %}
        </h6>
        <div  class="row categories grid"  data-layout="grid">
            {% for category in categories.normal %}
                {% include '_category-element.twig' with {'category' : category} %}
            {% endfor %}
        </div>
    </div>

    {{ profiler() }}

    {% include '_bookmarks-manager.twig' %}

{% endblock %}
